In [1]:
def  NIDHI():
  print ("INDIA IS MY COUNTRY")

In [2]:
NIDHI()

INDIA IS MY COUNTRY

In [9]:
def NIDHI(x):
    print("Your roll number is ", x)

In [10]:
NIDHI(x)

Your roll number is  10

In [11]:
x=int(input("Enter your roll no"))
NIDHI(x)

Enter your roll no10
Your roll number is  10

In [20]:
x=input("ENTER YOUR NAME : ")
y=int(input("ENTER YOUR ROLL NO : "))
z=input("ENTER YOUR EMAIL : ")
a=input("ENTER YOUR PLACE : ")

def nidhi(x, y, z, a):
  print("YOUR NAME IS : " , x )
  print("YOUR ROLL NO IS : " , y )
  print("YOUR EMAIL IS : " , z )
  print("YOUR PLAC IS : " , a )
nidhi(x, y, z, a)

ENTER YOUR NAME : NIDHI
ENTER YOUR ROLL NO : 28
ENTER YOUR EMAIL : nidhi@gmail.com
ENTER YOUR PLACE : ERNAKULAM
YOUR NAME IS :  NIDHI
YOUR ROLL NO IS :  28
YOUR EMAIL IS :  nidhi@gmail.com
YOUR PLAC IS :  ERNAKULAM

In [21]:
d = []
a=input("Enter your name : ")
def  First (a):
  print(a[0:5])
def Second(a):
  print(a[6:12])
First(x)
Second(a)

Enter your name : NIDHI JAIDEV
NIDHI
JAIDEV

In [38]:
def namex(x):
  y=x.split()
  print("Your 1st name is : ", y[0])
  print("Your 2nd name is : ", y[1])

In [39]:
x=input("Enter full name : ")
namex(x)

Enter full name : nidhi jaidev
Your 1st name is :  nidhi
Your 2nd name is :  jaidev

In [35]:
d = []
a=int(input("Enter the first number : "))
b=int(input("Enter the second number : "))
def swap(a, b):
  print(b, a)

Enter the first number : 28
Enter the second number : 18

In [36]:
print(b,a)

18 28