In [2]:
x = "This is \"python\" programming"
print(x)

This is "python" programming

In [3]:
x = "He\'s is a doctor"
print(x)

He's is a doctor

In [6]:
print("\"Nidhi\" Jaidev")

"Nidhi" Jaidev

In [7]:
print("He\'s a doctor")

He's a doctor

In [9]:
print("He \n doctor")

He
 doctor

In [10]:
print("NIDHI \n TIA")

NIDHI
 TIA

In [25]:
x = ["Nidhi", "Tia", "Eni", "Paars", "Sugar mommy", "Anglo"]
x.insert(2,"EX")
print(x)

['Nidhi', 'Tia', 'EX', 'Eni', 'Paars', 'Sugar mommy', 'Anglo']

In [26]:
def nidhi():
  y = int(input("Enter Index"))
  n = input("Enter a Name")
  x.insert(y,n)

In [27]:
nidhi()

Enter Index28
Enter a NameNidhi

In [32]:
def maths():
  x = int(input("enter first value"))
  y = int(input("enter second value"))
  print(x+y)

In [33]:
maths()

enter first value28
enter second value10
38

In [34]:
def maths(a,b):
  print(a+b)

In [35]:
x = int(input("enter first value"))
y = int(input("enter second value"))
maths(x,y)

enter first value20
enter second value22
42

In [36]:
def sub(a,b):
  print(a-b)

In [40]:
def subtract():
  x = int(input("enter first value"))
  y = int(input("enter second value"))
  maths(x-y)

In [ ]:
1